<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <ui-view></ui-view>
  <script src="<%= vendor %>"></script>
  <script src="<%= bundle %>"></script>
</body>
</html>
