<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1><i class="fa fa-anchor"></i> {{$ctrl.title}}</h1>
      <button class="btn btn-success">Button</button>
    </div>
  </div>
</div>
